body{
  background-color: #282c34;
}
.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 70fr 30fr;
  font-size: 62.5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons{
  padding: 1em;
  border-radius: 10px;
  font-size: large;
  outline: none;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 20vh;
  }
}