/* body{
  background-color: #282c34;
} 
*/
.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 70fr 30fr;
  background-color: lightcoral;
  font-size: 62.5%;
}

.App-header {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

.buttons{
  padding: 1em;
  border-radius: 10px;
  font-size: large;
  outline: none;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 20vh;
  }
}